		*{ padding: 0px; margin: 0px;}
			body{
				background-color: rgb(51, 51, 51);
    padding: 50px;
    font-family: '微软雅黑';
			}
			.content{
				margin:0 auto;
				text-align: center;
			}
			.content p{ color:#fff; font-size:20px; }
			.content img{ width:300px; height: 300px;margin-top:30px;}
			.info {
    width: 280px;
    margin: 0 auto;
}
.status {
    text-align: center;
        margin-top: 15px;
    background-color: #232323;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    box-shadow: inset 0 5px 10px -5px #191919, 0 1px 0 0 #444;
    -moz-box-shadow: inset 0 5px 10px -5px #191919,0 1px 0 0 #444;
    -webkit-box-shadow: inset 0 5px 10px -5px #191919, 0 1px 0 0 #444;
       padding: 10px 10px;
    
}


.status p {
    font-size: 14px;
}