<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>随机密码</title>
    <!-- Import style -->
    <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/element-plus/dist/index.css"
    />
    <!-- Import Vue 3 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.prod.js"></script>
    <!-- Import component library -->
    <link href="https://cdn.bootcdn.net/ajax/libs/element-plus/2.3.12/index.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/element-plus/2.3.12/index.full.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/qrcode-kit"></script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?092b3dd20247c05ab984c6dd93f2ad1f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
        #qrcode {
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-card>
        <el-form :model="form" label-width="120px">
            <el-form-item label="类型">
                <el-checkbox-group v-model="form.patten" @change="onSubmit">
                    <el-checkbox v-for="item in labelList" :key="item" :label="item" />
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="数量">
                <el-input type="number" v-model="form.totalCount" @change="onSubmit" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">生成</el-button>
            </el-form-item>
            <el-form-item label="生成结果">
                <el-input type="textarea" v-model="form.res" />
            </el-form-item>
        </el-form>
    </el-card>
    <el-card>
        <el-form :model="formQrcode" label-width="120px">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="二维码内容">
                        <el-input type="textarea" v-model="formQrcode.text" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="图片">
                        <el-image
                                v-if="formQrcode.img"
                            :src="formQrcode.img"
                                style="width:300px;height:300px"
                                :preview-src-list="formQrcode.srcList"
                        ></el-image>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item>
                <el-button type="primary" @click="onSubmitQrcode">生成</el-button>
            </el-form-item>
        </el-form>
    </el-card>
</div>
<script type="text/javascript">

    var textList = ['abcdefghijklmnopqrstuvwxyz', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', '1234567890',
        ",./;\'[]\\-=`<>?:\"{}|~!@#$%^&*()_+"];
    var labelList = ['小写字母','大写字母','数字','特殊字符',]
    const App = {
        data() {
            return {
                labelList,
                form: {
                    patten: ['小写字母','大写字母','数字'],
                    totalCount: 12,
                    res: ''
                },
                formQrcode: {
                    show: null,
                    srcList: null,
                    img: '',
                    text: ''
                }
            };
        },
        mounted() {
            this.onSubmit()
        },
        methods: {
            onSubmit() {
                let dataStr = this.form.patten.map(it=> textList[labelList.indexOf(it)]).join('')
                let dataStrLen = dataStr.length
                let totalCount = this.form.totalCount || 12
                let res = []
                for (let i = 0; i < totalCount; i++) {
                    res.push(dataStr.charAt(parseInt(Math.random() * dataStrLen)))
                }
                let res1 = res.join('');
                console.log('res len', res1.length)
                this.form.res = res1
                this.copy(this.form.res)
            },
            copy(data) {
                const url = data
                const oInput = document.createElement('textarea')
                oInput.value = url
                document.body.appendChild(oInput)
                oInput.select() // 选择对象;
                document.execCommand('Copy') // 执行浏览器复制命令
                this.$message({
                    message: '复制成功',
                    type: 'success'
                })
                oInput.remove()
            },
            onSubmitQrcode() {
                this.formQrcode.show = true
                let pic = qrcodeKit.createQrCodeImg(this.formQrcode.text, {})
                this.formQrcode.img = pic
                this.formQrcode.srcList = [pic]
            }
        }
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
</script>

</body>
</html>
